@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
}

header {
    background-color: #cf2b2b;
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 #bbbbbb;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 12px;
}

h3 {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Righteous', cursive;
    font-weight: lighter;
    font-size: 23px;
}


.produto {
    height: 130px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    border: 4px solid white;
    box-shadow: 0 0 10px 0 #bbbbbb;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.produto p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 18px;
}

.produto img {
    margin-left: 8px;
    width: 150px;
    border-radius: 5px;
    float: right;
}

button {
    margin: 10px;
    padding: 15px;
    width: calc(100% - 20px);
    background-color: green;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 128, 0, 0.856);
}